{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakila Database Flask Application</title>
</head>
<body>

<h2>Purpose and Functionality:</h2>
<p>This web application interacts with the Sakila database, offering users access to DVD rental customer information. Users can explore customer names, emails, rental history, and more.</p>

<h2>Application Contributors:</h2>
<p>Group three consists of Jasmine Jordan-Lake, Samantha Hutts, Briana Newman, and Kristina Djaja. All members collaborated to develop this functional web application.</p>

</body>
</html>

{% endblock %}
